.highlight {
    background-color: #f0a500;
    color: rgb(27, 12, 201);
    border-radius: 50%;
  }

.calendar-container {
    /* background-color: black; */
    display: flex;
    flex-direction: column; 
    align-items: center;    
    /* justify-content: center; */
    text-align: center;    
  box-sizing: border-box;    
  }

.calendar-box {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .react-calendar {
    width: 100%; /* Ensure the calendar scales */
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .react-calendar__tile {
    font-size: 14px;
    padding: 10px; 
  }

  .react-calendar__navigation button {
    font-size: 16px;
  }
/* .navbar {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px;
} */
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo-container {
  position: absolute;
  left: 10px; 
}
.navbar-logo {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
/* .navbar-brand {
  font-size: 20px;
  font-weight: bold;
} */

.navbar-center {
  flex-grow: 1;
  text-align: center;
}
.navbar-title {
  border-radius: 5px;
  margin: 0;
}